h1 {
 border-style:solid;
}
nav {
 margin-top:5px;
 margin-bottom:5px;
 margin-right:5px;
 margin-left:5px;
}
ol {
 padding-top:50px;
 padding-right:30px;
 padding-bottom:50px;
 padding-left:80px;
}
ul {
 width:100px;
}
height {
 height: 100px;
}
div ~ p {
    background-color: blue;
}
div + p {
    background-color: blue;
}
div p {
    background-color: blue;
}

