header {
  font-family:"Arial Black", Gadget, sans-serif;
  color:#FFFF00;
  font-size:70px;
}
h1 {
 font-family:"Comic Sans MS", cursive, sans-serif;
 color:#FFFF00;
 font-size:35px;
 background-color:#000000;
 border:double 3px #FF0000;

}
h2 {
 font-family:"Trebuchet MS", Helvetica, sans-serif;
 color:#FFFF00;
 font-size:30px;
 background-color:#000000;
 border:double 3px #FF0000;

}
p {
 font-family:"Trebuchet MS", Helvetica, sans-serif;
 color:#FFFF00;
 font-size:18px;
 background-color:#000000;
 border:double 3px #FF0000;
}
nav {
 
}
main {
 

}
footer {
 font-family:"Times New Roman", Times, serif;
 color:#FFFF00;
 font-size:13px;
 background-color:#000000;
 border:double 3px #FF0000;

}
h3 {
 font-family:"Trebuchet MS", Helvetica, sans-serif;
 color:#C80000;
 font-size:60px;
 background-color:yellow;
 border:double 3px #FF0000;
 border-color:red;

}
h4 {
 font-family:"Trebuchet MS", Helvetica, sans-serif;
 color:#C80000;
 font-size:20px;
 background-color:yellow;
 border:double 3px #FF0000;
 border-color:red;

}
h5 {
 font-family:"Trebuchet MS", Helvetica, sans-serif;
 color:#C80000;
 font-size:10px;
 background-color:yellow;
 border:double 3px #FF0000;
 border-color:red;

}
body {
 background-color:#FF0000;
 margin:1cm;
 border-style:outset;
 border-color:silver;
 border-width:20px;
 
 
}
header1 {
 font-family:"Trebuchet MS", Helvetica, sans-serif;
 color:#FFFF00;
 font-size:18px;
 background-color:#000000;
 border:double 3px #FF0000;

Requirements

*Create a new file called "main.css"
*Add a link element to the head of your index.html file
*<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html  file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font of each element.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.

