header {
 font-family:Impact, Charcoal, sans-serif;
 color:yellow;
 font-size:35px;
 background-color:#009900;
 border-bottom: dashed;
 border-width:5px

}
nav {
 font-family:Impact, Charcoal, sans-serif;
 color:blue;
 font-size:17px;
 background-color:red;
 border-bottom: dashed;
 border-width:9px;
 line-height: 300%;
 border-color:yellow;

}
 

 
 
 
body {
 background-color:white;
 margin:10px;
 border-style:;
 border-color:;
 border-width:;

}
  
