ol {
 font-family:"Comic Sans MS", italic, sans-serif;
 color:red;
 font-size:35px;
 background-color:;
 margin:1cm;

}
ul {
 font-family:"Times New Roman", Times, sans-serif;
 color:blue;
 font-size:20px;

}
nav{
 font-family:"Times New Roman", Times, sans-serif;
 color:purple;
 font-size:40px;
