body {
 background-color:;
 margin:;
 border-style:;
 border-color:;
 border-width:;
}
h1 {
 font-family:";
 color:;
 font-size:;
 background-color:;
 border:;
}
nav {
 font-family:";
 color:;
 font-size:;
 background-color:;
 border:;
}
